<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">  
    <link rel="stylesheet" href="../css/timeline.css"/> 
</head>
<body>
    <h2>Our Accomplishments & Activities</h2>
    <div class="timeline"> 
        <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
            <div class="timeline__event__icon ">
                <i class="lni lni-calendar"></i>
            </div>
            <div class="timeline__event__date">
                January 2022
            </div>
            <div class="timeline__event__content ">
                <div class="timeline__event__title">
                    Intiation<br>
                </div>
                <div class="timeline__event__description">
                    <p>* The project officially started with the formation of the &nbsp;&nbsp; ERP project team and the kickoff meeting.</p>
                </div>
            </div>
        </div>
        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
            <div class="timeline__event__icon">
                <i class="lni lni-checkmark-circle"></i>
                        </div>
            <div class="timeline__event__date">
                February 2022
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    System Design and Configuration<br>
                </div>
                <div class="timeline__event__description">
                    <p>* Based on requirements, the ERP system &nbsp;&nbsp;architecture was designed and configurations were implemented.</p>
                </div>
            </div>
        </div>
        <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
            <div class="timeline__event__icon">
                <i class="lni lni-rocket"></i>
                        </div>
            <div class="timeline__event__date">
                August 2022
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Achieved & Go-Live !!!<br>
                </div>
                <div class="timeline__event__description">
                    <p>* The ERP system successfully went live, marking a &nbsp;&nbsp;major milestone in the project.</p>
                </div>
            </div>
        </div>
        <div class="timeline__event animated fadeInUp timeline__event--type4">
            <div class="timeline__event__icon">
                <i class="lni lni-cup"></i>
            </div>
            <div class="timeline__event__date">
                December 2022
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Received Industry Award<br>
                </div>
                <div class="timeline__event__description">
                    <p>* Industry Award for Innovation and Excellence in  &nbsp; &nbsp;ERP Implementation (December 2023)</p>
                </div>
            </div>
        </div>

        <div class="timeline__event animated fadeInUp timeline__event--type5">
            <div class="timeline__event__icon">
                <i class="lni lni-world"></i>
                </div>
            <div class="timeline__event__date">
                January 2023
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Recognitions & Certificates<br>
                </div>
                <div class="timeline__event__description">
                    <p>* Fastest ERP Implementation Completion Time in &nbsp;&nbsp;Company History</p><br>
                    <p>* Highest User Adoption Rate for an ERP System</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
